{% load static %}
{% load custom_filters %}
<div class="table-container">
    {% if table_header %}
        <div class="table-header">
            {% if week.time_col %}<div class="week-content__left-corner"></div>{% endif %}
            {% for item in text.table.header %}
                <div class="{% if week.time_col %}table-header__cell--day-icon{% else %}table-header__cell{% endif %}">{{ item }}</div>
                {% if forloop.counter < text.table.header|length %}<div class="table-header__vertical-line"></div>{% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div style="display: flex;">
        {% if week.time_col and week.morning.enabled and icon == "morning" %}
            <div class="week-col__time">
                <div class="week-content__icon-container week-col__morning-background">
                    <img class="week-content__icon week-content__icon-morning-size"
                         src="{% static 'templates_app/images/morning.svg' %}">
                </div>
            </div>
        {% endif %}
        {% if week.time_col and week.evening.enabled and icon == "evening" %}
            <div class="week-col__time">
                <div class="week-content__icon-container week-col__evening-background">
                    <img class="week-content__icon week-content__icon-evening-size"
                         src="{% static 'templates_app/images/evening.svg' %}">
                </div>
            </div>
        {% endif %}
        {% if week.time_col and week.mixed.enabled and icon == "mixed" %}
            <div class="week-col__time">
                <div class="week-content__icon-container week-col__mixed-background">
                    <img class="week-content__icon week-content__icon-mixed-size"
                         src="{% static 'templates_app/images/morning_evening.svg' %}">
                </div>
            </div>
        {% endif %}
        <div>
            {% for row in "0"|center:rows %}
                <div class="table-content__line {% if forloop.first and table_header == False %}table-content__line--first{% endif %}">
                    {% if forloop.counter0 < content|length %}
                        {% with current=content|index:forloop.counter0 %}
                            {% include "templates_app/cure_calendar/assets/table_row_content.html" %}
                        {% endwith %}
                    {% endif %}
                    {% with n_cell=text.table.header|length %}
                        {% for i in "0"|center:n_cell %}
                            <div class="{% if week.time_col %}table-header__cell--day-icon{% else %}table-header__cell{% endif %}"
                                 style="{{ cell_bg_color }}"></div>
                            {% if forloop.counter < n_cell %}<div class="table-content__vertical-line"></div>{% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
