.product-container {
    display: flex;
    flex-shrink: 1;
    position: relative;
    z-index: 99;
    height: calc(var(--cell-height) - 7px);
    align-self: center;
    align-items: center;
    gap: 4pt;
    padding: 2pt 4pt;
    border: 0.4px solid var(--neutral-gray-400, #B5BFB5);
    background: var(--neutral-gray-50, #FAFAFA);
}

.product-label {
    color: var(--neutral-gray-700, #3A423A);
    font-size: 9pt;
    font-style: normal;
    font-weight: 400;
    line-height: 9pt;
    letter-spacing: -0.18pt;
    text-wrap: nowrap;
}

.product-label--layout {
    position:absolute
}

.product__intake {
    display: flex;
    flex-shrink: 0;
    padding: 1pt 3pt;
    align-items: center;
    border-radius: 5px;
    border: 0.3px solid #C3AE00;
    background: #FEFDF3;
}

.intake-text {
    color: var(--neutral-gray-800, #2A322A);
    font-size: 8pt;
    font-style: normal;
    font-weight: 400;
    line-height: 8pt;
    letter-spacing: -0.16pt;
}

.intake-icon {
    width: 14pt;
    height: 12pt;
}