.product-container {
    position: relative;
    z-index: 99;
    height: 18px;
    align-self: center;
    display: inline-flex;
    padding: 2px 4px;
    align-items: center;
    gap: 4px;
    border: 0.4px solid var(--neutral-gray-400, #B5BFB5);
    background: var(--neutral-gray-50, #FAFAFA);
}

.product-name {
    color: var(--neutral-gray-700, #3A423A);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: -0.18px;
}

.intake-container {
    display: flex;
    padding: 1px 3px;
    align-items: center;
    border-radius: 5px;
    border: 0.3px solid #C3AE00;
    background: #FEFDF3;
}

.intake-text {
    color: var(--neutral-gray-800, #2A322A);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: -0.16px;
}