.legend__container {
    display: flex;
    padding: 8pt;
    flex-direction: column;
    align-items: flex-start;
    gap: 8pt;
    align-self: stretch;
    border-radius: 10px;
    border: 0.5px solid var(--neutral-gray-300, #D1D9D8);
}

.legend__container-title {
    color: var(--neutral-gray-700, #3A423A);
    text-align: center;
    font-size: 10pt;
    font-style: normal;
    font-weight: 500;
    line-height: 10pt;
    letter-spacing: -0.2pt;
    align-self: stretch;

}

.legend__time-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    border: 0.4px solid var(--neutral-gray-400, #B5BFB5);
}

.legend__time-container--child {
    display: flex;
    height: 47.573pt;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4pt;
    align-self: stretch;
}

.legend__time-container--child:first-child {
    border-radius: 10px 10px 0 0;
}

.legend__time-container--child:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.legend__unit-container {
    display: flex;
    padding: 4pt 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 6pt;
    align-self: stretch;
    border-radius: 5px;
    border: 0.4px solid var(--neutral-gray-300, #D1D9D8);
    background: var(--neutral-gray-50, #FAFAFA);
}

.legend__title {
    display: flex;
    height: 9pt;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: var(--neutral-gray-700, #3A423A);
    text-align: center;
    font-size: 10pt;
    font-style: normal;
    font-weight: 500;
    line-height: 10pt;
    letter-spacing: -0.2px;
}

.legend__icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4pt;
    align-self: stretch;
}

.legend__icon-svg {
    width: 20.402pt;
    height: 18.628pt;
}

.legend__icon-title {
    color: #000;
    text-align: center;
    font-size: 8pt;
    font-style: normal;
    font-weight: 400;
    line-height: 11pt;
    letter-spacing: -0.16pt;
}

.legend__line--grey {
    width: 100%;
    height: 0.5px;
    background: #B5BFB5;
}