.line-container {
    display: flex;
    z-index: 9;
    min-height: 25px;
    position: absolute;
}

.line-green {
    min-height: 1px;
    background: #86BB89;
    align-self: center;
}

.line-red {
    min-height: 1px;
    background: linear-gradient(90deg, #86BB89 0% 93%, red 98% 100%);
    align-self: center;
}

.line-container__stop {
    position: absolute;
    color: var(--neutral-gray-700, #3A423A);
    font-size: 6px;
    font-style: normal;
    font-weight: 500;
    line-height: 6px;
    letter-spacing: -0.12px;
    right: 1px;
    top: 4px;
}

.line-container__restart {
    
    position: absolute;

    color: var(--neutral-gray-700, #3A423A);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: -0.16px;
    margin-top: 3px;
}

.line-arrow__green {
    position: absolute;
    align-self: center;

}

.pause-container {
    display: flex;
    justify-content: center;
}

.pause-line__dashed {
    border-top: 1px dashed grey;
    align-self: center;
}

.pause-container__text {
    position: absolute;
    height: 18px;
    display: inline-flex;
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 0.4px solid var(--neutral-grey-500, #909B90);
    background: var(--neutral-grey-200, #EEE);
    align-self: center;
}

.pause-text {
    color: var(--neutral-gray-700, #3A423A);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: -0.16px;
}