.phase_2_section_container--layout {
    display: flex;
    padding: 8pt;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8pt;
    align-self: stretch;   
}

.phase_2_section_container--style {
    border-radius: 10pt;
    border: 0.5px solid var(--neutral-gray-300, #D1D9D8);
}

.phase_2_section_svg {
    margin: auto;
}

.phase_2_section_paragraph {
    font-size: 8pt;
    font-style: normal;
    font-weight: 400;
    line-height: 8pt;
    letter-spacing: -0.16px;
}

.phase_2_section_paragraph--nowrap {
    white-space: nowrap;
}

.phase_2_section_paragraph--bold {
    font-weight: 400;
}
.phase_2_section_paragraph--grey {
    color: var(--neutral-gray-700, #3A423A);
}

.phase_2_section_paragraph--green {
    color: #20CF86;
}

.phase_2_section_paragraph--grey-800 {
    color: var(--Neutral-Gray-800, #2A322A);
}