/* Table Container */
.table-container {
    width: fit-content
    
}

.table-header {
    width: fit-content;
    height: var(--table-header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-gray-600, #6B766B);
    text-align: center;
    font-size: 7pt;
    font-style: normal;
    font-weight: 500;
    line-height: 7pt;
    letter-spacing: -0.14pt;
    border: 1px solid var(--neutral-gray-300, #D1D9D8);
    background: var(--neutral-gray-50, #FAFAFA);
}

.table-header__cell {
    width: var(--cell-width);
}

.table-header__cell--day-icon {
    width: calc( 6 * var(--cell-width) / 7)
}

.table-header__vertical-line {
    width: 1px;
    height: var(--table-header-height);
    background: var(--neutral-gray-300, #D1D9D8)
}

.table-content__line {

    display: flex;
    position: relative;
    border-bottom: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-right: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-left: 1px solid var(--neutral-gray-300, #D1D9D8);
}

.table-content__cell {
    height: var(--cell-height);
    width: var(--cell-width);
    /* background: var(--neutral-gray-300, #D1D9D8) */
}

.table-content__line--first {
    border-top: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-right: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-left: 1px solid var(--neutral-gray-300, #D1D9D8);
}

.table-content__vertical-line {
    width: 1px;
    height: var(--cell-height);
    background: var(--neutral-gray-300, #D1D9D8)
}