/* Table Container */
.table-container {
    width: fit-content
    
}

.table-header {
    width: fit-content;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-gray-600, #6B766B);
    background-color: ;
    text-align: center;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 7px;
    letter-spacing: -0.14px;
    border-top: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-left: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-right: 1px solid var(--neutral-gray-300, #D1D9D8);
    background: var(--neutral-gray-50, #FAFAFA);
}

.table-header__cell {
    width: var(--cell-width);
    height: 7px;
}

.table-header__vertical-line {
    width: 1px;
    height: 12px;
    background: var(--neutral-gray-300, #D1D9D8)
}

.table-content__line {

    display: flex;
    position: relative;
    border-bottom: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-right: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-left: 1px solid var(--neutral-gray-300, #D1D9D8);
}

.table-content__cell {
    height: 25px;
    width: var(--cell-width);
    /* background: var(--neutral-gray-300, #D1D9D8) */
}

.table-content__line--first {
    border-top: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-right: 1px solid var(--neutral-gray-300, #D1D9D8);
    border-left: 1px solid var(--neutral-gray-300, #D1D9D8);
}

.table-content__vertical-line {
    width: 1px;
    height: 25px;
    background: var(--neutral-gray-300, #D1D9D8)
}