
.analyse-table td {
    font-size: 1rem !important;
}

.food-card-wrapper {
    position: relative;
    z-index: 0;
}
.food-card {
    width: 90%;
    display: flex;
    background: rgba(158, 206, 145,0.5);
    border-radius: 10px;
    padding: 5px;
    margin: 0px auto 6px auto;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

tr:not(.cortisol-row) .food-card {
    cursor: pointer;
}

.food-card > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-card-close {
    position: absolute;
    right: 10px;
    top: -5px;
    background-color: red;
    border-radius: 30px;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    border:0;
    display: none;
}

.food-card-close img {
    width: 20px;
}

.nut-add  {
    border: 0px;
    background: rgba(158, 206, 145,0.8);
    width: fit-content;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.nut-add:hover {
    filter: brightness(0.8);
}

.pop-up {
    position: fixed;
    z-index: 20;
    width: 850px;
    display: none;
    left: 0;
    right: 0;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    flex-direction: column;
    border: 2px solid rgb(158, 182, 173);
    border-radius: 10px;
}

.pop-up-header {
    height: 35px;
    background-color: rgb(158, 182, 173);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    font-size: 1.1rem;
    color: rgb(50,50,50);
}

.pop-up-body {
    padding: 10px 25px 10px 25px;
    color: rgb(70,70,70);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pop-up-footer {
    height: 12%;
    display: flex;
    justify-content: end;
}

.image-button {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 3px 5px 3px 8px;
    border-radius: 10px;
    font-size: 1rem;
}

.confirm-button {
    background: rgba(158, 206, 145,0.5);
    border: 2px solid rgba(158, 206, 145,0.7);
}

.close-button {
    padding: 0;
    border: 0;
    background: transparent;
    height: fit-content;
    width: fit-content;
}

.close-button img {
    width: 35px;
}

.image-button img {
    height: 25px;
    margin-right: 10px;
}

.form-field {
   margin: 5px 0 5px 0;
    font-size: 1rem;
}

.input-label {
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 0.9rem;
}

.text-input {
    width:350px;
}

select {
    border-radius: 10px;
    padding: 2px 2px 2px 3px;
}

input {
    border-radius: 10px;
    border: 1px solid rgb(70,70,70);
    padding: 2px 2px 2px 5px;
}

.search-bar {
    display: flex;
    justify-content: end;
    padding-right: 10%;
}

.search-bar input {
    width: 200px;
    border-radius: 5px;
    border: 0px solid rgb(158, 206, 145);
    outline: 2px solid rgb(158, 206, 145);
    padding: 2px 4px 2px 4px;
}

table {
  border-collapse: collapse !important;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.6) !important;
}

.search-bar input:focus {
    width: 200px;
    border-radius: 5px;
    border: 0px solid rgb(158, 206, 145);
    outline: 2px solid rgba(108, 156, 95);
    padding: 2px 4px 2px 4px;
}