:root {
    --primary-green-100: #DBEEDD;
    --primary-green-400: #86BB89;
    --primary-green-500: #70AD71;
    --primary-yellow: #FEFDF3;
    --pale-yellow: #FBFBF8;
    --primary-blue: #EFFAFF;
    --pale-blue: #F5F9FB;
    --secondary-green: #EFFFF4;
    --pale-green: #F7FBF8;
    --secondary-900: #1E2D1E;
    --text-white: #FAFAFA;
    --background-color: #FEF1F1;
    --neutral-gray-900: #0F172A;
    --neutral-gray-700: #3A423A;
    --neutral-gray-600: #6B766B;
    --neutral-gray-300: #D1D9D8;
    --neutral-gray-50: #FAFAFA;
    --neutral-gray-400: #B5BFB5;
    --font-xs: 9px;
    --line-xs: 9px;
    --line-m: 22px;
    --font-s: 12px;

    /* Use this to control element dimension */
    --cell-width: 24pt;
    --cell-height: 25pt;
    --table-header-height: 12pt;

}