
body {
    font-family: 'Montserrat';
}

.a3-container {
    color: black;
    display: flex;
}

.a3-page {
    width: 50%;
    height: 100%;
    padding: 25px;
    position: relative;
}

.cover-title1 {
    font-size: 2rem;
    margin-top: 120px;
    text-align: center;
}

.cover-box-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.cover-box {
    width: 210px;
    border-radius: 10px;
    padding: 10px 3px 10px 3px;
    font-size: 0.8rem;
    text-align: center;
    margin: 0px 5px 0px 5px;
    background-color: #C0DBC0;
}

.cover-box-title {
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.cover-title2 {
    font-size: 1.8rem;
    text-align: center;
    width: 80%;
    margin: 50px auto 0px auto;
}

.cover-left-logo {
    width: 250px;
    margin: 50px auto 50px auto;
}

.cover-left-logo img {
    width: 100%;
}

.cover-title3 {
    font-size: 1.6rem;
    text-align: center;
    width: 60%;
    margin: auto;
}

.cover-title-mail {
    color: rgb(158, 206, 145);
}

.cover-url {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

.cover-footer {
    font-size: 0.8rem;
    text-align: center;
    width: 80%;
    margin: 30px auto 0 auto;
}

.cover-right-logo {
    width: 200px;
    margin: 150px auto 50px auto;
}

.cover-right-logo img {
    width: 100%;
}

.cover-title4 {
    font-size: 3.5rem;
    text-align: center;
    margin: 170px auto 50px auto;
}

.cover-order-infos {
    font-size: 1.5rem;
    margin: 280px auto 0 auto;
    text-align: center;
}

.title1 {
    padding: 10px 0 0 0;
    font-size: 2.2rem;
    margin: 0 auto 0 auto;
    text-align: center;
}

.title2 {
    font-size: 1rem;
    margin: 5px auto 0 auto;
    width: 95%;
}

.analyse-table-col-1 {
    width: 10%;
}
.analyse-table-col-2 {
    width: 30%;
}
.analyse-table-col-3 {
    width: 30%;
}
.analyse-table-col-4 {
    width: 30%;
}

.recommendation-table thead th {
    background-color:white !important;
    font-size: 0.7rem !important;
}

.gauge-wrapper {
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50px;
    padding: 0 0 0 0;
    /* box-shadow: 0px 0px 4px rgba(0,0,0,0.8); */
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.gauge-wrapper div {
    width: 100%;
    height: 100%;
}

.footer1 {
    text-align: center;
    width: 100%;
    margin: 10px auto 0 auto;
    font-size: 0.9rem;
    position: absolute;
    padding: 0 35px 0 35px;
}

.a3-container .footer1 {
    bottom: 1%;
}

.a4-container .footer1 {
    bottom: 1%;
}

.recommendations-box {
    position: relative;
    border: 2px solid rgba(112, 173, 113,0.6);
    margin: 10px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
    height: 22.5cm;
    width: 16cm;
}

.a4-container .recommendations-box {
    padding-bottom: 60px;
    height: auto;
}

.recommendations-title {
    text-align:center;
}

.recommendations-footer {
    font-size: 0.6rem;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 10px 10px 10px;
}

.a3-table thead {
    height: 40px;
}

