
.cortisol-wrapper {
    width: 245px;
    height: 165px;
    margin: auto;
    font-size: 0.4rem;
    font-weight: 500;
}

.a4-cortisol-wrapper {
    width: 300px;
    height: 200px;
    margin: auto;
    font-weight: 500;
}


.cortisol-graph {
    height: 80%;
}

.cortisol-graph > div {
    height: 100%;
}

.cortisol-graph-subtitle {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}

.cortisol-graph-below {
    height: 20%;
    width: 100%;
    display: flex;
    font-weight: 600;
}

.cortisol-graph-data-titles {
    width: 18px;
}

.cortisol-graph-data-titles div {
    height: 25%;
}

.cortisol-graph-datas{
    display: flex;
    width: 100%;
}

.cortisol-graph-data div {
    height: 25%;
}

.cortisol-graph-data {
    text-align: center;
}



