


.portal-box {
    background-color: white;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
}



.portal-box img {
    width: 40%;
    margin: 0 auto 10px auto;
    min-width: 100px;
}

.portal-box button {

}

.portal-btn {
    background-color: rgb(142, 206, 145);
    border: 0;
    border-radius: 20px;
    min-height: 50px;
    font-weight: 500;
    color: white;
    padding: 10px 0 10px 0;
    height: fit-content;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
}

input[type="text"]:focus {
  border-color: rgba(110, 165, 173, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(110, 165, 173, 0.6);
  outline: 0 none;
}