
body {
    font-family: 'Montserrat';
}

.a4-container {
    padding: 25px 1.6cm 25px 1.6cm;
    color: black;
}

.cover-title1{
    font-size: 3.5rem;
    text-align: center;
    padding-top: 200px;
    color: white;
}

.cover-line {
    border: 3px solid rgb(112, 173, 113);
    border-radius: 5px;
    width: 80%;
    margin: 0px auto 30px auto;
}

.cover-title2 {
    font-size: 2.3rem;
    text-align: center;
    color: white;
    margin: 80px auto 0px auto;
}


.cover-infos {
    margin-top: 30px;
    font-size: 1.7rem;
    text-align: left;
    padding-left: 155px;
}

.cover-footer {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 90px;
    font-size: 1.5rem;
}

.cover-logo {
    height: 100%;
    position: absolute;
    left: 0;
    right: -20%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.table-contents-title {
    font-size: 3.5rem;
    margin: 50px 0 20px 0;
}

.contents-number {
    color: rgb(158, 206, 145);
    font-size: 4rem;
    height: 80px;
}

.contents-section {
    font-size: 1.5rem;
}

.section-title {
    font-size: 3.5rem;
    margin: 0 0 0 0;
}

.a4-gauge-wrapper {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 2px;
    border-radius: 50px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

.gauge-wrapper div {
    width: 100%;
    height: 100%;
}

.gauge-section-label {
    font-size: 1.2rem;
    text-decoration: underline;
    margin-top: 15px;
}

.gauge-section-comment {
    font-size: 1rem;
}

.gauge-section-table {
    padding-top: 40px;
}

.gauge-section-general-comment {
    padding-top: 40px;
}

.advice-table thead th {
    font-size: 0.8rem;
}

.advice-table-col-1 {
    width: 20%;
}

.advice-table-col-2 {
    width: 10%;
}

.advice-table-col-3 {
    width: 45%;
}

.advice-table-col-4 {
    width: 25%;
}

ul {
    margin-bottom: 5px;
}

ul li {
    text-align: left;
}

.gauge-section-solutions {
    margin-top: 20px;
}

.gauge-section-solutions-title {
    background-color: rgb(158, 206, 145);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.gauge-section-solutions-body {
    margin-top: 10px;
}



.bullet-green {
    display: block;
    height: 15px;
    width: 15px;
    min-width: 15px;
    background-color: rgb(158, 206, 145);
    border-radius: 20px;
    margin-right: 10px;
}

.gauge-section-solutions-category, .gauge-section-solutions-sub-category-alone, .gauge-section-complement {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 30px;
}



.gauge-section-category-description, .gauge-section-complement-description {
    margin-left: 25px;
    font-size: 0.9rem;
}
.gauge-section-solutions-sub-category {
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 25px;
    padding-top: 10px;
}
.gauge-section-sub-category-description {
    margin-left: 65px;
    font-size: 0.8rem;
}

.gauge-section-solutions-nutrient {
    margin-left: 50px;
}

.gauge-section-solutions-nutrient::before {
    content: '';
    display: inline-block;
    width: 5px;
    margin-bottom: 2px;
    height: 5px;
    background-color: black;
    border-radius: 20px;
    margin-right: 5px;
}

.gauge-section-complements {
    padding-top: 15px;
}

.gauge-solutions-nut-table {
    width: 80%;
    margin: 10px auto 10px auto;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
}

.gauge-solutions-nut-table tr:not(:last-child) td:not(:last-child) {
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.gauge-solutions-nut-table tr:not(:last-child) td:last-child {
    border-bottom: 1px solid black;
}

.gauge-solutions-nut-table tr:last-child td:not(:nth-child(3)) {
    border-right: 1px solid black;
}

.gauge-solutions-nut-table td {
    border: none;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}

.page-number {
    position:absolute;
    bottom: 5px;
    left:0;
    right: 0;
    text-align: center;
    font-size: 0.6rem;
    color: rgb(100,100,100);
    font-weight: 500;
    color: rgba(0,0,0,0.6);
}