
body {
    font-family: 'Montserrat';
}




.a5-container {
    color: black;
    padding: 24px 15px 0 15px;
    position: relative;

    width: 14.8cm;
    height: 21cm;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.a5-title {
    font-family: 'Rethink sans';
}

.a5-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a5-body {
    margin-top: 6px;
}

.a5-table {
    border-color: rgba(112, 173, 113,1);
}


.a5-table thead th {
    background-color: white;
    font-size: 11px;
    font-weight: 600;
    padding: 2px 5px 2px 5px;
}

.a5-table tbody th {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    padding: 3px 10px;
}

.a5-table th {
    border-color: rgba(112, 173, 113,1) !important;
}

.a5-detach-header {
    position: absolute;
    right: -49px;
    top: 35px;
    background-color: rgba(112, 173, 113, 1);
    color: white;
    width: 200px;
    text-align: center;
    border-bottom: 1px dashed rgb(120, 120, 120);
    border-top: 1px dashed rgb(120, 120, 120);
    rotate: 60;
    transform: rotate(45deg);
}

.a5-phase {
    font-size: 12px;
    padding-left: 20px;
    margin-top: 4px;
}

.a5-table .posology-text {
    font-size: 10px;
}

.a5-footer-text {
    font-size: 10px;
}

.a5-product-label {
    font-size: 12px;
}