
.title {
    font-family: 'Rethink Sans';
}

.black-background {
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 10;
}

.a3-container {
    width: 42cm;
    height: 29.8cm;
    margin: 0 auto 0 auto;
}

.a4-container {
    position: relative;
    width: 21.05cm;
    min-height: 29.7cm;
    border: 1px solid black;
    margin: 0 auto 0 auto;
}

ul, ol {
    padding-left: 25px !important;
    margin-bottom: 0px !important;
}



p {
    margin-top: 0 !important;
    margin-bottom:0 !important;
}