.analyse-table {
    width: 95%;
    margin: 0 auto 0 auto;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    color: black;
}

/* Apply a border to the right of all but the last column */
.analyse-table th:not(:last-child),
.analyse-table td:not(:last-child) {
    border-right: 1px solid black;
}

.analyse-table tbody:not(:last-child) tr:last-child td {
    border-bottom: 1px solid black;
}

/* Apply a border to the bottom of all but the last row */
.analyse-table>thead>tr>th,
.analyse-table>thead>tr>td,
.analyse-table>tbody>tr:not(:last-child)>th,
.analyse-table>tbody>tr:not(:last-child)>td,
.analyse-table>tr:not(:last-child)>td,
.analyse-table>tr:not(:last-child)>th,
.analyse-table>thead:not(:last-child),
.analyse-table>tbody:not(:last-child) {
    border-bottom: 1px solid black;
}



.analyse-table thead th {
    font-weight: 400;
    background-color: rgba(112, 173, 113,0.6);
    font-size: 1rem;
    color: black;
    padding: 5px;
}

.analyse-table td, .analyse-table th {
    text-align:center;
}

.analyse-table td {
    padding: 5px 5px 5px 5px;
    font-size:0.6rem;
    height: fit-content;
}

.analyse-table tr td:first-child {
    font-size:0.8rem;
}


.analyse-table tr {

}

.analyse-table ul {
    padding-left: 15px !important;
}