
.gauge-section-solutions-category {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.category-nut-table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-nut-table .gauge-solutions-nut-table {
    margin-top: 0;
    margin-bottom: 0;
}

.gauge-section-solutions-category:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.gauge-section-solutions-category-label {

}

.gauge-section-solutions *[category]:not(.gauge-section-solutions-category) {
    display: none;
}

.dropdown-arrow {
    transform: rotate(-90deg);
    transition-duration: 0.8s;
    transition-property: transform;
}

.dropdown-arrow.active {
    transform: rotate(90deg);
}


.a4-container {
    width: 980px;
    padding: 25px 1.6cm 40px 1.6cm;
}
