{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'templates_app/css/cure_calendar/common.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'templates_app/css/cure_calendar/header.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'templates_app/css/cure_calendar/table.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'templates_app/css/cure_calendar/phase_change.css' %}">
        <style>
            @page {
                size: A4;
                margin: 0;
            }

            *,
            *::before,
            *::after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            html,
            body {
                margin: 0;
                padding: 0;
                width: 210mm;
                /* A4 width */
                height: 297mm;
                /* A4 height */
            }

            body {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                word-wrap: break-word;
            }
        </style>
    </head>
    <body>
        <div style="width: 595px;
                    height: 842px;
                    padding: 16px;
                    background: white;
                    overflow: hidden;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 16px;
                    display: inline-flex">
            {% include "templates_app/cure_calendar/header.html" %}
            <div style="align-self: stretch;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 32px;
                        display: flex">
                <div style="align-self: stretch;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 12px;
                            display: flex">
                    <div style="align-self: stretch;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;
                                gap: 6px;
                                display: flex">
                        <div style="align-self: stretch;
                                    justify-content: center;
                                    display: flex;
                                    flex-direction: column;
                                    color: #1C211C;
                                    font-size: 11px;
                                    font-family: Rethink Sans;
                                    font-weight: 500;
                                    line-height: 11px;
                                    word-wrap: break-word">Phase 1  (Jour 1 ⭢ Jour  14)</div>
                        <div style="align-self: stretch;
                                    justify-content: space-between;
                                    align-items: center;
                                    display: inline-flex">
                            <div style="align-self: stretch;
                                        justify-content: flex-start;
                                        align-items: center;
                                        gap: 8px;
                                        display: flex">
                                <div style="color: #3A423A;
                                            font-size: 8px;
                                            font-family: Rethink Sans;
                                            font-weight: 400;
                                            line-height: 16px;
                                            word-wrap: break-word">Cochez chaque semaine terminée</div>
                                <div style="justify-content: flex-start;
                                            align-items: center;
                                            gap: 6px;
                                            display: flex">
                                    <div style="width: 14px;
                                                height: 14px;
                                                background: #FAFAFA;
                                                border: 0.50px #B5BFB5 solid"></div>
                                    <div style="width: 14px;
                                                height: 14px;
                                                background: #FAFAFA;
                                                border: 0.50px #B5BFB5 solid"></div>
                                </div>
                            </div>
                            <div style="padding-left: 12px;
                                        padding-right: 12px;
                                        padding-top: 4px;
                                        padding-bottom: 4px;
                                        background: #FAFAFA;
                                        border-top-left-radius: 5px;
                                        border-top-right-radius: 2px;
                                        outline: 0.50px #B5BFB5 solid;
                                        outline-offset: -0.25px;
                                        justify-content: center;
                                        align-items: center;
                                        display: flex">
                                <div style="color: #2A322A;
                                            font-size: 8px;
                                            font-family: Rethink Sans;
                                            font-weight: 400;
                                            line-height: 16px;
                                            word-wrap: break-word">
                                    Date début de la cure : ...................................
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if cure.phases.applicability %}
                        {% regroup cure.products by phase as products_group %}
                        {% with table_header=text.table.header products=products_group.0.1 %}
                            {% include "templates_app/cure_calendar/table.html" %}
                        {% endwith %}
                    {% endif %}
                </div>
                <div style="align-self: stretch;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 12px;
                            display: flex">
                    <div style="align-self: stretch;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;
                                gap: 6px;
                                display: flex">
                        <div style="align-self: stretch;
                                    justify-content: center;
                                    display: flex;
                                    flex-direction: column;
                                    color: #1C211C;
                                    font-size: 11px;
                                    font-family: Rethink Sans;
                                    font-weight: 500;
                                    line-height: 11px;
                                    word-wrap: break-word">Phase 2  (Jour 15 ⭢ Jour  29)</div>
                        <div style="align-self: stretch;
                                    justify-content: space-between;
                                    align-items: center;
                                    display: inline-flex">
                            <div style="align-self: stretch;
                                        justify-content: flex-start;
                                        align-items: center;
                                        gap: 8px;
                                        display: flex">
                                <div style="color: #3A423A;
                                            font-size: 8px;
                                            font-family: Rethink Sans;
                                            font-weight: 400;
                                            line-height: 16px;
                                            word-wrap: break-word">Cochez chaque semaine terminée</div>
                                <div style="justify-content: flex-start;
                                            align-items: center;
                                            gap: 6px;
                                            display: flex">
                                    <div style="width: 14px;
                                                height: 14px;
                                                background: #FAFAFA;
                                                border: 0.50px #B5BFB5 solid"></div>
                                    <div style="width: 14px;
                                                height: 14px;
                                                background: #FAFAFA;
                                                border: 0.50px #B5BFB5 solid"></div>
                                </div>
                            </div>
                            <div style="padding-left: 12px;
                                        padding-right: 12px;
                                        padding-top: 4px;
                                        padding-bottom: 4px;
                                        background: #FAFAFA;
                                        border-top-left-radius: 2px;
                                        border-top-right-radius: 2px;
                                        outline: 0.50px #B5BFB5 solid;
                                        outline-offset: -0.25px;
                                        justify-content: center;
                                        align-items: center;
                                        display: flex">
                                <div style="color: #2A322A;
                                            font-size: 8px;
                                            font-family: Rethink Sans;
                                            font-weight: 400;
                                            line-height: 16px;
                                            word-wrap: break-word">
                                    Date début de la cure : ...................................
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "templates_app/cure_calendar/phase_change.html" %}
                </div>
                {% if cure.phases.applicability %}
                    {% with table_header=text.table.header products=products_group.1.1 %}
                        {% include "templates_app/cure_calendar/table.html" %}
                    {% endwith %}
                {% endif %}
                <div style="align-self: stretch;
                            flex: 1 1 0;
                            padding: 8px;
                            outline: 0.50px #B5BFB5 solid;
                            outline-offset: -0.25px;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 8px;
                            display: inline-flex">
                    <div style="width: 499px;
                                height: 8px;
                                color: #3A423A;
                                font-size: 8px;
                                font-family: Rethink Sans;
                                font-weight: 400;
                                line-height: 8px;
                                word-wrap: break-word">Notez vos ressentis :</div>
                </div>
            </div>
        </div>
    </body>
</html>
