{% load static %}
<div class="phase-change-container">
    <div class="phase-change-section phase-change-section--continue">
        <img class="phase-change-section__icon"
             src="/static/templates_app/images/continue.svg"
             alt="Continuer">
        <div class="phase-change-section__label">Continuer :</div>
        <div class="phase-change-section__content">
            <span class="product-text">Oméga 3</span>
            <span class="product-separator">|</span>
            <span class="product-text">Labotix MB</span>
            <span class="product-separator">|</span>
            <span class="product-text">Resvératrol</span>
        </div>
    </div>
    <div class="phase-change-section phase-change-section--stop">
        <img class="phase-change-section__icon"
             src="/static/templates_app/images/stop.svg"
             alt="Arrêter">
        <div class="phase-change-section__label">Arrêter :</div>
        <div class="phase-change-section__content">Mucopure (Arrêt au Jour 21)</div>
    </div>
    <div class="phase-change-section phase-change-section--add">
        <img class="phase-change-section__icon"
             src="/static/templates_app/images/add.svg"
             alt="Ajouter">
        <div class="phase-change-section__label">Ajouter</div>
        <div class="phase-change-section__content">Citrobiotic</div>
    </div>
</div>
