{% load static %}
<div class="table-container">
    {% if table_header %}
        <div class="table-header">
            {% for item in text.table.header %}
                <div class="table-header__cell">{{ item }}</div>
                {% if forloop.counter < text.table.header|length %}<div class="table-header__vertical-line"></div>{% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% for row in rows %}
        <div class="table-content__line {% if forloop.first %}table-content__line--first{% endif %}">
            {% with current=row %}
                {% include "templates_app/cure_calendar/table_row_content.html" %}
            {% endwith %}
            {% with n_cell=text.table.header|length %}
                {% for i in "0"|center:n_cell %}
                    <div class="table-content__cell"></div>
                    {% if forloop.counter < n_cell %}<div class="table-content__vertical-line"></div>{% endif %}
                {% endfor %}
            {% endwith %}
        </div>
    {% endfor %}
</div>
