{% load static %}
<div class="week-container">
    <div class="week-container_intake">
        {% if current.time_col and current.morning.enabled %}
            <div class="week-col__time">
                {% if current.table_header %}<div class="week-content__left-corner"></div>{% endif %}
                <div class="week-content__icon-container week-col__morning-background">
                    <img class="week-content__icon week-content__icon-morning-size"
                         src="{% static 'templates_app/images/morning.svg' %}">
                </div>
            </div>
        {% endif %}
        {% if current.morning.enabled %}
            <div>
                {% with rows=current.morning.rows table_header=current.table_header %}
                    {% include "templates_app/cure_calendar/table.html" %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
    <div class="week-container_intake">
        {% if current.time_col and current.evening.enabled %}
            <div class="week-col__time">
                {% if current.table_header and not current.morning.enabled %}<div class="week-content__left-corner"></div>{% endif %}
                <div class="week-content__icon-container week-col__evening-background">
                    <img class="week-content__icon week-content__icon-evening-size"
                         src="{% static 'templates_app/images/evening.svg' %}">
                </div>
            </div>
        {% endif %}
        {% if current.evening.enabled %}
            <div>
                {% with rows=current.evening.rows %}
                    {% if not current.morning.enabled %}
                        {% with table_header=True %}
                            {% include "templates_app/cure_calendar/table.html" %}
                        {% endwith %}
                    {% else %}
                        {% include "templates_app/cure_calendar/table.html" %}
                    {% endif %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
</div>
