{% load static %}
<div class="line-container"
     style="position: absolute;
            width: 100%;
            {{ current.container.padding_left }}">
    {% for content in current.contents %}
        {% if content.product %}
            {% include "cure_calendar/cure_calendar/intake.html" with product=content.product %}
        {% endif %}
        {% if content.text.enabled %}
            <div class="{{ content.text.class }}" style="{{ content.text.style }}">{{ content.text.value }}</div>
        {% endif %}
        <div class="{{ content.class }}" style="{{ content.style }}"></div>
    {% endfor %}
</div>
